* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    outline: none;
}

body {
    background-image:url("/assets/img/tw.png");


}

.container {
    background-color:transparent;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.input-task{
    border: none;
    border-radius: 25px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
}
.button-add-task{
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #003329;
    color: #ffffff;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
    font-weight: 700;
}

.button-add-task:hover{
    opacity: 0.8;
}

.button-add-task:active{
    opacity: 0.6;
}

.list-tasks{
    width: 100%;
    list-style: none;
    margin-top: 30px;

}

.task{
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0,0,0,0.2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out ;
}

.task:hover img{
    opacity: 1;
   
}

.done{
    background-color: #8fac55;
    text-decoration: line-through;
}